{% block body %}
<form action="" method="post">
    {% for i in 1..3 %}
    {% set questions = _context['question'~ i] %}
    {{ questions.questionnum}}:{{questions.question}}
    <ul>
        {% for key,value in questions.choices %}
            <input type="radio"name={{questions.ans}} value={{value}}>{{value}}<br>
        {% endfor %}
    </ul>
    {% endfor %}
    <input type="submit" value="回答">
    </form>
{% endblock body %}